[Desktop Entry]
Type=Application
Name=Help
Name[cs]=Nápověda
Name[da]=Hjælp
Name[de]=Hilfe
Name[el]=Βοήθεια
Name[en_AU]=Help
Name[en_GB]=Help
Name[es]=Ayuda
Name[fr]=Aide
Name[gl]=Axuda
Name[hu]=Súgó
Name[it]=Aiuto
Name[ko]=도움말
Name[ms]=Bantuan
Name[nl]=Help
Name[pl]=Pomoc
Name[pt_BR]=Ajuda
Name[ru]=Справка
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[te]=సహాయం
Name[tr]=Yardım
Name[uk]=Довідка
Name[zh_TW]=求助
Comment=Get help with MATE
Comment[cs]=Získat nápovědu pro MATE
Comment[da]=Få hjælp til MATE
Comment[de]=Hilfe für MATE bekommen
Comment[el]=Βοήθεια για το MATE
Comment[en_AU]=Get help with MATE
Comment[en_GB]=Get help with MATE
Comment[es]=Obtén ayuda con MATE
Comment[fr]=Obtenir de l'aide sur MATE
Comment[gl]=Obter axuda do MATE
Comment[it]=Ottieni aiuto con MATE
Comment[ko]=마테 도움말을 봅니다
Comment[ms]=Dapatkan bantuan dengan MATE
Comment[nl]=Hulp voor MATE krijgen
Comment[pl]=Uzyskaj pomoc z MATE
Comment[pt_BR]=Obtenha ajuda com o MATE
Comment[ru]=Получить справку по MATE
Comment[sk]=Dostať pomoc od MATE
Comment[sl]=Pridobi pomoč z MATE
Comment[te]=మేట్ కి సంబంధించి సహాయం
Comment[tr]=MATE hakkında yardım al
Comment[uk]=Отримати довідку по MATE
Comment[zh_TW]=獲得 MATE 的幫助
Keywords=documentation;information;manual;
Icon=help
Exec=yelp help:mate-user-guide
StartupNotify=true
Terminal=false
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-desktop
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.8.0
Categories=GTK;Core;Documentation;
OnlyShowIn=MATE;
