[Desktop Entry]
Type=Application
Name=Input Method
Name[ja]=入力メソッド
Name[ko]=키보드 입력기 uim 설정
Comment=Customize uim input method environment
Comment[ja]=入力メソッド環境 (uim) を設定します
Comment[ko]=uim 키보드 입력기 환경을 설정합니다.
Exec=uim-pref-gtk
Icon=/usr/share/uim/pixmaps/uim-icon.png
Terminal=false
Categories=Settings;X-GNOME-PersonalSettings;
