[Desktop Entry]
Name=Disks
Comment=Manage Drives and Media
Keywords=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[as]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[be]=дыск;прывод;том;цвёрды дыск;hdd;cdrom;dvd;раздзел;iso;вобраз;запасная копія;рэзервовая копія;аднаўленне;аднавіць;выпрабаванне;raid;luks;шыфраванне;S.M.A.R.T.;smart;
Keywords[ca]=disc;unitat;volum;disc dur;hdd;disc;CD;DVD;partició;ISO;imatge;còpia de seguretat;restaurar;test de referència;RAID;LUKS;encriptació;S.M.A.R.T.;smart;
Keywords[ca@valencia]=disc;unitat;volum;disc dur;hdd;disc;CD;DVD;partició;ISO;imatge;còpia de seguretat;restaurar;test de referència;RAID;LUKS;encriptació;S.M.A.R.T.;smart;
Keywords[cs]=disk;mechanika;svazek;pevný disk;hdd;cdrom;cd-rom;dvd;oddíl;iso;obraz;záloha;obnova;test výkonu;srovnávací test;raid;luks;šifrování;S.M.A.R.T.;smart;
Keywords[da]=disk;drev;diskenhed;volumen;harddisk;hdd;disk;cdrom;dvd;partition;iso;aftryk;sikkerhedskopi;gendan;gendannelse;ydelsestest;ydelsesprøve;benchmark;raid;luks;kryptering;S.M.A.R.T.;smart;
Keywords[de]=Datenträger;Laufwerk;Festplatte;HDD;CD;CDROM;DVD;Partition;ISO;Abbild;Sicherung;Wiederherstellung;Leistungstest;RAID;LUKS;Verschlüsselung;S.M.A.R.T;SMART;
Keywords[el]=δίσκος;οδηγός;όγκος;σκληρός δίσκος;hdd;δίσκος;cdrom;dvd;κατάτμηση;iso;εικόνα;αντίγραφο ασφαλείας;επαναφορά;μέτρηση επιδόσεων;raid;luks;κρυπτογράφηση;S.M.A.R.T.;smart;
Keywords[en_GB]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[es]=disco;dispositivo;volumen;disco duro;hdd;disco;cdrom;dvd;partición;iso;imagen;copia de respaldo;restaurar;prueba de rendimiento;raid;luks;cifrado;S.M.A.R.T.;smart;
Keywords[eu]=diskoa;unitatea;bolumena;disko gogorra;hdd;diskoa;CD-ROMa;DVDa;partizioa;iso;irudia;babeskopia;leheneratu;proba-bankua;raid;luks;enkriptazioa;S.M.A.R.T.;smart;
Keywords[fi]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;levy;asema;kiintolevy;kovalevy;osio;levykuva;varmuuskopio;palautus;mittaus;salaus;
Keywords[fr]=disque;lecteur;volume;disque dur;dd;disque;cdrom;dvd;partition;iso;image;sauvegarde;restauration;test de performance;raid;luks;chiffrement;S.M.A.R.T.;smart;
Keywords[ga]=diosca;tiomántán;imleabhar;diosca crua;hdd;cdrom;dvd;deighilt;iso;íomhá;cúltaca;athchóirigh;tagarmharc;raid;luks;criptiú;S.M.A.R.T.;smart;
Keywords[gl]=disco;unidade;volume;disco duro;hdd;disc;cdrom;dvd;partición;iso;imaxe;respaldo;backup;restaurar;rendemento;raid;luks;cifraxe;S.M.A.R.T;smart;
Keywords[gu]=ડિસ્ક;ડ્રાઇવ;વોલ્યુમ;હાર્ડડિસ્ક;hdd;ડિસ્ક;cdrom;dvd;પાર્ટીશન;iso;ઇમેજ;બેકઅપ;પુન:સંગ્રહો;બેન્ચમાર્ક;raid;luks;એનક્રિપ્શન;S.M.A.R.T.;સ્માર્ટ;
Keywords[hi]=डिस्क;ड्राइव;मात्रा;हार्डडिस्क;hdd;डिस्क;cdrom; डीवीडी;विभाजन;आईएसओ;छवि; बैकअप;बहाल; बेंचमार्क; RAID;luks;एन्क्रिप्शन;स्मार्ट;चतुर;
Keywords[hu]=lemez;meghajtó;kötet;merevlemez;hdd;cdrom;dvd;partíció;iso;lemezkép;mentés;visszaállítás;helyreállítás;teljesítményteszt;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[id]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partisi;iso;image;backup;restore;benchmark;raid;luks;enkripsi;S.M.A.R.T.;smart;
Keywords[it]=disco;dischi;unità;drive;disco fisso;harddisk;hdd;volume;cdrom;cd;dvd;partizione;iso;immagine;backup;benchmark;raid;luks;smart;S.M.A.R.T;cifrare;
Keywords[ja]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;ドライブ;ボリューム;ハードディスク;パーティション;イメージ;バックアップ;リストア;復旧;修復;ベンチマーク;暗号化;
Keywords[kn]=ಡಿಸ್ಕ್‍;ಡ್ರೈವ್;ವಾಲ್ಯೂಮ್;ಹಾರ್ಡಡಿಸ್ಕ್‍;hdd;ಡಿಸ್ಕ್;cdrom;dvd;ವಿಭಾಗ;iso;ಚಿತ್ರಿಕೆ;ಬ್ಯಾಕ್ಅಪ್;ಮರಳಿಸ್ಥಾಪಿಸು;ಮೈಲಿಗಲ್ಲು;raid;luks;ಗೂಢಲಿಪೀಕರಣ;S.M.A.R.T.;ಚತುರ;
Keywords[ko]=disk;디스크;drive;드라이브;volume;볼륨;harddisk;하드;hdd;disc;cdrom;씨디;dvd;partition;파티션;iso;image;이미지;backup;백업;restore;복구;benchmark;벤치마크;raid;레이드;luks;encryption;암호화;S.M.A.R.T.;smart;
Keywords[lt]=diskas;laikmena;tomas;kietasis diskas;hdd;cdrom;dvd;skirsnis;iso;atvaizdis;atsarginė kopija;atkurimas;matavimas;raid;luks;šifravimas;S.M.A.R.T.;smart;
Keywords[lv]=disks;dzinis;sējums;cietais disks;hdd;kompaktdisks;cdrom;dvd;iso;attēls;dublējums;atjaunot;etalonuzdevums;raid;luks;šifrēšana;S.M.A.R.T.;smart;
Keywords[ml]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[mr]=डिस्क;ड्राइव्ह;वॉल्युम;हार्डडिस्क;hdd;डिस्क;cdrom;dvd;विभाजन;iso;प्रतिमा;बॅकअप;रिस्टोर;बेंचमार्क;raid;luks;एंक्रिप्शन;S.M.A.R.T.;स्मार्ट;
Keywords[nb]=disk;stasjon;volum;harddisk;hdd;disk;cdrom;dvd;partisjon;iso;avtrykk;sikkerhetskopi;gjenopprett;ytelsestest;raid;luks;kryptering;S.M.A.R.T;smart;
Keywords[or]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[pa]=ਡਿਸਕ;ਡਰਾਇਵ;ਵਾਲੀਅਮ;ਹਾਰਡਡਰਾਇਵ;hdd;ਡਿਸਕ;ਸੀਡੀ;ਡੀਵੀਡੀ;ਪਾਰਟੀਸ਼ਨ;ਆਈਸੋ;ਈਮੇਜ਼;ਬੈਕਅੱਪ;ਰੀਸਟੋਰ;ਬੈਂਚਮਾਰਕ;ਰੇਡ;luks;ਇੰਕ੍ਰਿਪਸ਼ਨ;ਸਮਾਰਟ;smart;
Keywords[pl]=dysk;disk;napęd;wolumin;wolumen;dysk twardy;hdd;płyta;disc;cdrom;dvd;partycja;patrycja;iso;obraz;kopia zapasowa;przywrócenie;przywróć;benchmark;test wydajności;wydajność;raid;luks;szyfrowanie;zaszyfruj;S.M.A.R.T.;smart;
Keywords[pt]=disco;unidade;volume;disco rígido;hdd;disco;cdrom;particção;isso;imagem;cópia;restaurar;análise de desempenho;raid;luks;encriptação;S.M.A.R.T.;smart
Keywords[pt_BR]=disco;unidade;volume;disco rígido;hdd;disco;cdrom;dvd;partição;iso;imagem;backup;restaurar;benchmark;avaliação de desempenho;raid;luks;codificação;S.M.A.R.T;smart;
Keywords[ru]=диск;привод;том;жесткий;hdd;cdrom;dvd;раздел;iso;образ;резервное;копирование;восстановление;тест;производительность;raid;шифрование;S.M.A.R.T.;smart;
Keywords[sk]=disk;jednotka;zväzok;pevný disk;hdd;disk;cdrom;dvd;oddiel;iso;obraz;záloha;obnovenie;skúška výkonu;raid;luks;šifrovanie;S.M.A.R.T.;smart
Keywords[sl]=disk;pogon;nosilec;trdi disk;hdd;cdrom;dvd;razdelek;iso;odtis;varnostna kopija;obnovitev;benchmark;raid;luks;šifriranje;S.M.A.R.T.;smart;
Keywords[sr]=диск;уређај;волумен;чврсти диск;хдд;цд-ром;цдром;двд;партиција;исо;отисак;слика;резерва;повраћај;пробни тест;раид;лукс;шифровање;С.М.А.Р.Т.;смарт;
Keywords[sr@latin]=disk;uređaj;volumen;čvrsti disk;hdd;cd-rom;cdrom;dvd;particija;iso;otisak;slika;rezerva;povraćaj;probni test;raid;luks;šifrovanje;S.M.A.R.T.;smart;
Keywords[ta]=வட்டு;இயக்கி;தொகுதி;வன்வட்டு;வட்டு;சிடிரோம்;டிவிடி;பகிர்வு;ஐஸோ;பிம்பம்;பின்பாதுகாப்பு;மீட்டெடுத்தல்;தரஅள்வீடு;ரெய்ட்;லக்ஸ்;குறியாக்கம்;S.M.A.R.T;ஸ்மார்ட்;
Keywords[te]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[tg]=диск;драйв;баландии садо;диски сахт;hdd;диск;cdrom;dvd;қисмбандӣ;iso;тасвир;нусхаи эҳтиётӣ;барқарор кардан;афзорсанҷӣ;raid;luks;рамзгузорӣ;S.M.A.R.T.;smart;
Keywords[th]=ดิสก์;ไดรว์;โวลุม;ฮาร์ดดิสก์;hdd;แผ่น;ซีดีรอม;ดีวีดี;พาร์ทิชัน;iso;อิมเมจ;สำรอง;เขียนคืน;วัดสมรรถนะ;raid;luks;การเข้ารหัสลับ;S.M.A.R.T.;smart;
Keywords[tr]=disk;sürücü;birim;sabit disk;hdd;disk;cdrom;dvd;bölüm;iso;kalıp;yedekle;geri yükle;kıyaslama;karşılaştırmalı değerlendirme;raid;luks;şifreleme;S.M.A.R.T.;smart;
Keywords[ug]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;دىسكا;قوزغاتقۇچ;قاتتىق دىسكا;زاپاس;تەسۋىر;شىفىرلاش;
Keywords[uk]=диск;пристрій;том;жорсткий;хард;вінчестер;дисковод;dvd;розділ;iso;образ;копії;відновити;тестування;raid;luks;шифрування;S.M.A.R.T.;смарт;
Keywords[zh_CN]=磁盘;驱动器;卷;硬盘;光盘;盘;分区;映像;镜像;备份;恢复;还原;测试;性能;加密;disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;
Keywords[zh_HK]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;磁碟;磁碟機;硬碟;哈滴;光碟機;光碟;分割區;映像檔;備份;還原;評等;加密;
Keywords[zh_TW]=disk;drive;volume;harddisk;hdd;disc;cdrom;dvd;partition;iso;image;backup;restore;benchmark;raid;luks;encryption;S.M.A.R.T.;smart;磁碟;磁碟機;硬碟;哈滴;光碟機;光碟;分割區;映像檔;備份;還原;評等;加密;
Exec=gnome-disks
Icon=gnome-disks
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;HardwareSettings;Settings;HardwareSettings;
X-Ubuntu-Gettext-Domain=gnome-disk-utility
